.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared Style */

.secondary_bg {

    background-color: #fff8f3;
}

.text_primary {

    color: #fd6e0a;
}

.dark_2 {
    color: #474747;
}

.dark_1 {
    color: #181818;
}

.btn_primary {

    background-color: #fd6e0a;
    color: white;
    border: 0 solid white;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}

.section_tittle {
    font-size: 35px;
    font-weight: bold;
}

.section_description {

    font-size: 18px;
    color: #757575;

}

.header {
    background-image: url(/images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
    
}



/* Nav style */

nav {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 200px; */
    
}

.nav_tittle {

    font-size: 45px;
    font-weight: 800;
}

nav ul li {

    list-style: none;
    margin-right: 50px;
    

}

nav ul {

    display: flex;
    align-items: center;
    
}

nav a {

    text-decoration: none;
    font-size: 20px;
}


/* banner style */

.banner{

    display: flex;
    justify-content: space-between;
    padding: 0 35px 0 200px;

}

.banner_content {
    max-width: 580px;
}
.banner_pic {
    width: 580px;
}

.banner_greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner_tittle {

    font-size: 84px;
    font-weight: bold;

}

.banner_description {
    font-size: 18px;

}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */

.about {
    border-radius: 5px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about_itmes {

    display: flex;
    justify-content: space-around;

}

.item_description {

    font-weight: bold;
    
}


.skills {
    text-align: center;
}



.my_skills {

    display: flex;
    margin-top: 10px;

}

.skil {

    padding: 15px 30px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
