.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared Style */

.text_primary {

    color: #fd6e0a;
}

.dark_2 {
    color: #474747;
}

.btn_primary {

    background-color: #fd6e0a;
    color: white;
    border: 0 solid white;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}



/* Nav style */

nav {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 200px;
}

.nav_tittle {

    font-size: 45px;
    font-weight: 800;
}

nav ul li {

    list-style: none;
    margin-right: 50px;
    

}

nav ul {

    display: flex;
    align-items: center;
    
}

nav a {

    text-decoration: none;
    font-size: 20px;
}